body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

h1 {
  text-align: center;
  background: rgb(63, 164, 63);
  color: ghostwhite;
  margin: 0px;
  padding: 22px 15px 15px;
}

h2 {
  margin-bottom: 15px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 15px 30px;
  /* justify-content: left; */
}

td {
  padding: 5px 10px;
}



.container {
  margin: 10px;
}

.total {
  display: inline-block;
  float: right;
  padding: 10px;
}