body {
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
}

header {
  text-align: center;
  background: rgb(63, 164, 63);
  color: ghostwhite;
  margin-bottom: 15px;
  padding: 20px 0px 15px;
}

h1, h2 {
  margin-bottom: 15px;
}

.container {
  margin: 10px;
}
